body {
    font-family: Arial, sans-serif;
    background-color: #bb94f3;
    background-image: url('background.webp');
    background-repeat: repeat;
    background-size: contain;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: rgb(218, 197, 251);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 20px 20px 10px rgba(196, 93, 93, 0.1);
}

.search {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.weather-info {
    margin-top: 20px;
}

.weather-info p {
    margin: 5px 0;
}